*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    border-bottom: 2px solid rgb(198, 196, 196);
    align-items: center;
    justify-content: center;
    margin: 10px 10px 0px 10px;
    box-shadow: 2px 2px 10px rgb(19, 51, 106);

}
nav img{ 
    display: inline;
    height: 100px;
    width: 200px;
    margin-right: 30px;
}
nav ul {
    display: flex;
    list-style: none;
    text-align: end;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
    
}
nav a{
    font-size: 132%;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    color: rgb(19, 69, 135);
    &:hover{
        /* text-shadow: 4px 4px 20px rgb(151, 149, 149); */
        color: rgb(25, 56, 97);
    }
}
.name{
    padding: 30px 50px;
    text-align: center;
}
.name p{
    font-size: x-large;
    color: brown;
    font-weight: bold;
}
.name pre{
    padding-top: 5px;
    font-size: x-large;
    font-weight: bold;
}
.images{
    margin-top: 40px;
    height: auto;
    width: auto;
    /* border: 2px solid black; */
    display:flex;
}
.images article h3{
    /* text-align: end; */
    padding:0px 50px 30px;
    display: inline-flex;
    font-size: 25px;

}
.title{
    padding-top: 10px;
    text-align: end;
}

.images article{
    height: auto;
    width: 500px;
    padding: 10px;
    overflow: auto;
    margin-right: 250px;
    margin-left: 30px;
    border-radius: 3px;
    /* outline: 2px dashed red; */
    background-color: rgb(240, 240, 240);
    box-shadow: 2px 2px 2px 2px rgb(182, 178, 178);
}
.article-head{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.images article img{
    display: inline-flex;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    /* padding-bottom: 20px; */
}
.images section img{
    height: 250px;
    width: 450px;
}
marquee{
    margin-top: 20px;
}
.main ul {
    display: flex;
    list-style: none;
}
.main ul li{
    padding-right: 100px; 
}
.main ul li a{
    color: black;
    text-decoration: none;
    font-size: 120%;
    font-weight: bold; 
    &:hover{
        /* background-color: rgba(243, 241, 241, 0.911); */
        transition: 0.5s;
        font-size: 130%;   
    }
}
.middle{
    display: flex;

}

.slider{
    display: grid;
    /* margin-top: 30px; */
    margin-left: 40px;
    margin-top: 40px;
    height: 300px;
    width: auto;
}
.slider h2{
    text-align:left;
}
.slider section{
    display: flex;
    width: fit-content;
}
.slider marquee .item{
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 2px rgb(182, 178, 178);
    margin: 1px 5px;
    cursor:pointer;
    background-color: white;
    border-radius: 5px;
    &:hover{
        transition: 0.5s;
        background-color: rgb(19, 69, 135);
        a{
            color: white;
        }
    }
}
.slider marquee .item a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    color: rgb(68, 67, 67);
    padding-left: 5px;
    &:hover{
        transition: 0.4s;
        /* font-size: 22px;    */
    }
}
.slider button{
    display: inline;
    margin-top: 20px;
    margin-left: 410px;
    background-color:rgb(19, 69, 135) ;
    color: white;
    height: 35px;
    width: 80px;
    border: none;
    &:hover{
        /* box-shadow: 0px 0px 2px black; */
        box-shadow: 0px 0px 3px rgb(0,0,0);
        transition: 0.3s;
        /* background-color:rgb(13, 46, 89) ; */
        /* color: yellow; */
        cursor: pointer;
    }
    &:active{
        background-color:whitesmoke ;
        color: rgb(19, 69, 135);
    }
}
.vision-mission{
    display:grid;
    background-color: rgb(240, 240, 240);
    margin:40px 30px ;
    height: 400px;
    border-radius: 20px;
    line-height: 1.8;
    font-weight: 400;
}
.vision{
    margin: 30px 40px 0px 40px;
}
.mission{
    margin: 0px 20px 30px 20px;

}
.mission ul{
    margin-left: 20px;
}
.vision-mission .vision h3, .mission h3{
    color: rgb(19, 69, 135);
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}
.mission ul li{
    list-style-type: disc;
    list-style-position: outside;
}
.placement marquee {
    display: flex;
    margin-bottom: 50px;
    padding:30px;
    overflow: visible;
}
.placement h2,.Recruiters h3{
    color:rgb(19, 69, 135);
    text-align: center;
    font-size: 25px;
}
.placement ul li{
    display: flex;
    list-style: none;
    margin-right:50px;
    float: left;
}
.placement-item{
    padding:30px;
    width: 240px;  
    height: 250px; 
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);  
    /* border-radius: 20px; */
    &:hover{
        transition: 0.3s;
        box-shadow: 0px 0px 20px  rgb(44, 102, 179);  
        /* border-radius: 20px;   */
    }
}
.placement ul li img{
    height: 80%;
    width: 90%;
    padding-bottom: 5px;
}
.placement ul li h3{
    padding: 8px 0px;
    /* position: absolute; */
    /* padding-top: 5px; */
}
.placement ul li p{
    padding: 5px 0px;
    text-transform: uppercase;
}
.Recruiters{
    height: 300px;
    width: auto;
}
.Recruiters marquee{
    margin-top:40px ;
    margin-bottom: 50px;
}
.Recruiters marquee img{
    margin: 10px 40px;
    width: 20%;
    height: 70%;
}
.footer{
    height: 450px;
    width: auto;
    background-color: rgb(19, 69, 135);
    padding-left: 70px;
    color: white;
    font-size: 110%;
}
.footer h2{
    font-size: 30px;
    padding-top: 50px;
    margin-bottom: 70px;
}
.footer h4{
    margin-top: 3px;
}
.footer .container{
    display:flex;
}
.footer .container .footer-items{
    height: 80%;
    width: 30%;
    padding-right: 50px;
}

.footer .container .footer-items p{
    padding-top: 15px;
    font-size: 90%;
}
.footer .container .footer-items a{
    color: white;
    text-decoration: none;
    display: flex;
    padding-bottom: 20px;
    font-size: 100%;
    &:hover{
        transition: 0.1s;
        color: lightgray;
        font-size: 100.5%;
    }
}
